<div class='container px-5 px-sm-0'>
  <% @entries.each do |e| %>
    <% if @myUserId != e.user.id %>
        <h2><%= e.user.name %>さんとのトークルーム</h2>
    <% end %>
  <% end %>
  <%= link_to "ユーザー一覧に戻る", users_path, class:"my-2" %>

    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if @myUserId == m.user.id %>
          <div class="left-container d-flex align-items-center">
            <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "default-image.jpg", class:"rounded-circle" %>
            <p class="ml-2 bg-secondary p-3 rounded" style="opacity: 0.8;"><span class="text-white"><%= m.message %></span></p>
          </div>
        <% else %>
          <div class="right-container d-flex align-items-center justify-content-end">
             <p class="mr-2 bg-success p-3 rounded" style="opacity: 0.8;"><span class="text-white"><%= m.message %></span></p>
             <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "default-image.jpg", class:"rounded-circle" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 50, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>

</div>